*.exe
*.o
*.i
*.elf
*.gba
*.sgm
*.sa1
*.sg1
*.1bpp
*.4bpp
*.8bpp
*.gbapal
*.lz
*.rl
*.latfont
*.hwjpnfont
*.fwjpnfont
*.zone
*.zone.identifier
sound/**/*.bin
sound/songs/midi/*.s
tools/agbcc
tools/*.*
*.map
*.ld
*.bat
*.dump
*.sa*
Thumbs.db
build/
.DS_Store
*.ddump
.idea/
.vscode/
*.a
.fuse_hidden*
pokeemerald.ss1
pokeemerald.ss2
pokeemerald.ss3
pokeemerald.ss4
pokeemerald.ss5
pokeemerald.ss6
pokeemerald.ss7
pokeemerald.ss8
pokeemerald.ss9
include/constants/battle_frontier_mons.h.old
pokeemerald.bps
tools/poryscript
data/maps/*/scripts.inc
data/scripts/_poryscripts/*.inc


